In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import numpy as np
import sklearn
import sklearn.datasets
import matplotlib.pyplot as plt

In [2]:
import pickle
pkl_filename = "real_or_fake_model.pkl"
with open(pkl_filename, 'rb') as file:
    news_model = pickle.load(file)

In [3]:
import pickle
with open("vectorizer.pkl", 'rb') as file:
    vect = pickle.load(file)

In [4]:
news_model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [5]:
test_df = pd.read_csv('Test Data/test_data.csv')

In [6]:
test_df

                                                   title  target
0      Listen To Reaction Of U.S. Troops When David L...       0
1                Ex-convict coal magnate says run Senate       1
2      Ted Cruz Threatens Voters: ‘Every Vote For Don...       0
3      Florida Man Arrested For Calling 911 After His...       1
4      Roger Goodell: ‘It Nearly Impossible For Leagu...       0
...                                                  ...     ...
17220  Mad Max: Fury Road enrages Men's Rights Activi...       1
17221  Trump congratulates Merkel election win, discu...       1
17222  Trump says Russia probe reveal collusion campaign       1
17223  White Supremacist Stabbed Interracial Couple, ...       0
17224  Treasury's Lew urges China ensure fairness U.S...       1

[17225 rows x 2 columns]

In [ ]:
#train_df = pd.read_csv('Test Data/train_data.csv')

In [ ]:
#train_df

In [8]:
headline = test_df.title[35]

In [9]:
headline

'This Looks Bad: The President Of The National Dairy Council Threw Up And Resigned At A Press Conference After A Reporter Told Her Where Milk Comes From'

In [10]:
test_df.target[35]

0

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
#vect = CountVectorizer().fit(train_df.title)

In [25]:
news_model.predict(vect.transform(["Pernod Ricard banks on China, U.S. to power return to sales growth"]))

array([0], dtype=int64)